<div class="container">

<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<h1>Pools</h1>
<h2><%= @pools.count %> piscines trouvées !</h2>

  <div class="content">

    <div class="card-grid">
      <% @pools.each do |pool| %>
      <%= render 'shared/poolcard', pool: pool %>
      <% end %>
    </div>

  </div>

</div>
