<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="container">

<br>
<h4><%= @pools.count %> piscines correspondent à votre recherche !</h4>
    <div class="card-grid">
      <% @pools.each do |pool| %>
            <%= render 'shared/poolcard', pool: pool %>
      <% end %>
    </div>
</a>
  </div>

</div>
