<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

<div class="container">

<br>
<h4><%= @pools.count %> piscines correspondent à votre recherche !</h4>
    <div class="card-grid">
      <% @pools.each do |pool| %>
            <%= render 'shared/poolcard', pool: pool %>
      <% end %>
    </div>

<div id="map" style="height: 300px; width: 600px"></div>

    <script src="main.js"></script>

</div>
