.mes-piscines{
  display:flex;
  position:relative;
  margin: 10px;
}

.cards-product-dash{
  flex-grow: 1;
}
.button-d-s{
  position:absolute;
  top: 10px;
  right : 5px;
}

.button-resa{
  position:absolute;
  bottom: 10px;
  right : 5px;
}
.button-dash{
  color: #999999;
  font-size: 10px;
  transition: ease .3s;
}

.container.dashboard-pool{
  width: 50%;
  margin-top: 30px;
  padding:0;
}
.button-dash:hover {
  color: #555555;
}

.card.card-body{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 2px;
  margin: 15px;
  border: 0.5px solid #bcbcba;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #F4F4F4;

}

.button-comment .btn{
  position:relative;
  top: 50%;
  right: 10px;
}
.avatar-bordered-rental{
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
