.pictures-display {
  display: flex;
  position: relative;
  height : 350px;
  flex-grow:1;
  border-radius: 5px;
  margin: 5px;
}

.picture-pool{
margin: 2px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;

}

.picture-pool img{
 width : 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.card-body{
  background-color: #e7eaf6;
  border-radius: 10px;
  margin-top: 20px;
}
