<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<h1>Users#dashboard</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>

    <div class="card-grid">
      <% @user_pools.each do |pool| %>
            <%= render 'shared/poolcard', pool: pool %>
      <% end %>
    </div>