<div class="banner">
  <div class="container">
    <form>
      <div class="form-group home">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ville">
      </div>
    </form>
  </div>
</div>


