<div class="banner">

  <div class="container">
      <h1>Des piscines d'exception à louer partout dans le monde !</h1>

    <form>
      <div class="form-group home">
        <p>Rechercher une piscine :</p>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ville">
      </div>
    </form>

  </div>

</div>


