<div class="card-body bg-white my-3">
  <div class="reviews">
  <%= cl_image_tag review.user.avatar, class: "avatar-bordered", alt: "avatar" %>
    <div class="creation-info">
      <h5> <%= review.user.first_name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %></h6>
    </div>
  </div>

  <div class="description">
      <p><%= review.description %></p>
  </div>
</div>
