     <div class="input-group-prepend">
      <div class="form-group home">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        <%= form_tag pools_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Ville"
        %>
        <% end %>
      </div>
  </div>
