.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-map{
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  transition: 0.5;
}
