.pictures-display {
  display:flex;
  position: relative;
}

.pictures-display button{
  position: absolute;
  bottom : 20px;
  right: 30px;
}
.big-picture img{
  height: 415px;
  width: 727px;
}
.small-picture{
  margin:0;
  padding:0px;
}

.small-picture img{
  height: 207.5px;
  width: 364px;
}

