.card-pool {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pool > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pool h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pool p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-pool .card-pool-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-pool-infos .card-pool-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
